USE [master]
GO
/****** Object:  Database [healthcare]    Script Date: 3/30/2018 12:33:44 AM ******/
CREATE DATABASE [healthcare]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'healthcare', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\healthcare.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'healthcare_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\healthcare_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [healthcare].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [healthcare]
GO
USE [healthcare]
GO
/****** Object:  Table [dbo].[cusinfo]    Script Date: 3/30/2018 12:33:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cusinfo](
	[uid] [varchar](20) NOT NULL,
	[fname] [varchar](10) NOT NULL,
	[lname] [varchar](10) NOT NULL,
	[dob] [date] NOT NULL,
	[gender] [varchar](10) NULL,
	[address] [varchar](50) NULL,
	[pincode] [int] NULL,
	[age] [int] NULL,
	[mobileno] [varchar](10) NULL,
	[height] [float] NULL,
	[weigth] [float] NULL,
	[sque] [varchar](50) NULL,
	[ans] [varchar](50) NULL,
	[inch] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[demoddl]    Script Date: 3/30/2018 12:33:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[demoddl](
	[deaseas] [varchar](20) NULL,
	[symptoms] [varchar](20) NULL,
	[pricaution] [varchar](20) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Diseasesinfo]    Script Date: 3/30/2018 12:33:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diseasesinfo](
	[Diseases] [varchar](50) NULL,
	[cause] [varchar](1000) NULL,
	[Symptoms] [varchar](1000) NULL,
	[prevention] [varchar](1000) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[logininfo]    Script Date: 3/30/2018 12:33:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logininfo](
	[uid] [varchar](20) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[type] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[logininfo] ADD  DEFAULT ('customer') FOR [type]
GO
USE [master]
GO
