
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    /*background-image: url('36091679-solid-color-wallpaper.jpg');*/
    /*background-image: url('Blue-solid-color-wallpaper-hd-wallpapers.jpg');*/
    background-image: url('dark.png');
    font-size: 12pt;
    font-weight: 400;
    color:  cadetblue;
}

body {



}
